

@media only screen and (min-width:840px){

html{
    background-color: #2c3036;
}

body{
    width:95%;
    border: solid 4px mediumseagreen;
    margin-left: 2.5%;
}

.grid-container{
    


}



.navigation{
    color: #34d994;

}

.main-information{
    color: #34d994;
    font-family: 'NotoSupreme'
    font-size: 2rem;
    padding-left: 1.5rem;
}

.emphasized{
    color:#34d994;
    font-size: 2.5rem;
    font-family: 'NotoCool'
}

@font-face{
    font-family:NotoSupreme;
    src:
        url('fonts/noto-serif/NotoSerif-Black.ttf') format('truetype');
}


@font-face{
    font-family: NotoCool;
src:
url('fonts/noto-serif/NotoSerif-BoldItalic.ttf') format('truetype');
}


.header{
    position:fixed;

}




}