@media only screen and (min-width:840px){
    body{
        background-color:#363636;
    }
    .mainbody{
        border: solid 4px white;
        border-radius: 6%;
        padding:2%;
        left:2.5;
        position: absolute;
        top:18%;
        Width:60%;
    }
    p{
        color:#00ff88;
        font-size:2rem;
        font-family:"NotoSupreme";
        
    }
    .sectionHeader{
        color:#00bbff;
        font-family:'RobotMono';
    }
    /*Header bar styling*/
    .headerbar{
        background-color:#232323;
        color:#ffffff;
        font-size:4rem;
        text-align:center;
        width:95%;
        left:2.5%;
        position: fixed;
        height:15%;
        border: white 4px solid;
    }
    .headerbutton{
        display:inline-block;
        width:15%;
        margin-left:4%;
        border:white solid 4px;
        text-align:center;
        font-size:1.5rem;
        justify-content:center;
        color:#0073ff;
    }

}
/*Fonts*/
@font-face{
    font-family:"NotoSupreme";
    src:
    url(../fonts/noto-serif/NotoSerif-Condensed.ttf) format('truetype');
}
@font-face{
    font-family: "NotoCool";
    src:
    url(../fonts/noto-serif/NotoSerif-BoldItalic.ttf) format('truetype');
}
@font-face{
    font-family:'RobotMono';
    src:
    url(../fonts/Roboto_Mono/RobotoMono-Regular.ttf) format('truetype');
}