

@media only screen and (min-width:840px){
html{
    background-color: #2c3036;
}

body{
    width:95%;
    border: solid 4px mediumseagreen;
    margin-left: 2.5%;
}

.grid-container{
    z-index:1;
    display: grid;
    grid-template-rows: 10% 7.5% 50% 30% 5%;
    grid-template-columns:10% 1fr 1fr 1fr 10%;


}

.header{
    background-color:#2c3036;
    border: aqua 4px solid;
    top:0%;
    height:4rem;
    font-size:3rem;
    width:95%;
    left:2.5%;
    z-index:3;
    position:fixed;
    text-align:center;
    color:#34d994;

}




.navigation{
    color: #34d994;
    top:5%;
    width: 95%;
    height:3rem;
    left:2.5%;
    border: aqua 4px solid;
    position:fixed;
    background-color: #2c3036;
    z-index:3;
    padding-top:1%;
}
.navigation-item{
    float:left;
    clear:none;
    text-align:center;
    border:aqua 4px solid;
    padding-left:5%;
    padding-right:5%;
    padding-top:1%;
    padding-bottom:1%;
    margin-left: 7%;
    margin-top: -0.95%;
}

.main-information{
    color: #34d994;
    font-family: 'NotoSupreme';
    font-size: 1.5rem;
    padding-left: 1.5rem;
    grid-row-start:3;
    grid-row-end:4;
    grid-column-start:1;
    grid-column-end:4;
    height:800px;
}

.emphasized{
    color:#34d994;
    font-size: 2.5rem;
    font-family: 'NotoCool'
}




}




@font-face{
    font-family:NotoSupreme;
    src:
        url('fonts/noto-serif/NotoSerif-Black.ttf') format('truetype');
}


@font-face{
    font-family: NotoCool;
src:
url('fonts/noto-serif/NotoSerif-BoldItalic.ttf') format('truetype');
}



.aside{
    grid-column-start:4;
    grid-column-end:5;
    grid-row-start:3;
    grid-row-end:4;
    border: #34d904;
}
